#about_title{
    font-size: 94px;
    text-shadow: 4px 4px 8px #292929;
}

#about_page{
    padding: 0px 1%;
    justify-content: space-evenly;
    text-align: center;
}

#about_page section{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2em;
}

#about_page h2{
    font-size: 36px;
    margin-bottom: 15px;
    line-height: 1.4em;
}

#about_page p{
    font-size: 18px;
}