*{
    font-family: Arial, verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

button{
    font-family: Arial, verdana, sans-serif;
    border-style: none;
}

body{
    background: rgb(92, 92, 92);
    background: linear-gradient(170deg, rgb(163, 163, 163) 0%, rgb(247, 236, 236) 100%);
}

#page{
    position: relative;
    height: 100vh;
}

/* Header-start */
h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    cursor: default;
}

nav li, a{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    color: white;
}

header{
    background-color: rgb(51, 51, 51);
    background-image: url(/images/header_img_tile.jpg);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 350px;

}

nav li{
    display: inline-block;
    margin: 0px 20px;
}

.current{
    color: rgb(250, 205, 120);
}

.nav-link:hover{
    color: rgb(250, 205, 120);
}
/* Header-end */

#back_img{
    position: fixed;
    z-index: -10;
    top: 0px;
    width: 1920px;
    opacity: 0.4;
    filter: brightness(50%);
}

#about_title{
    font-size: 94px;
    position: Absolute;
    top: 200px;
    left: 34%;
    text-shadow: 4px 4px 8px #292929;
}

section{
    display: flex;
    margin: 50px;
}
section h2{
    width: 30%;
    text-align: right;
    padding: 1%;
}

section p{
    font-size: 16px;
    padding: 1%;
    line-height: 1.5em;
    width: 40%;
}

.rounded{
    background-color: rgb(51, 51, 51);
    border: none;
    width: 50%;
    height: 3px;
    border-radius: 10px;
    margin: 0px auto 37px auto;
}


/* Footer-start */
footer{
    background-color: rgb(51, 51, 51);
    padding: 55px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p, a{
    color: white;
}
/* Footer-end */