main{
    justify-content: center;
    padding: 20px;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

#img_intro{
    width: 100%;
}

.cover_image{
    width: 60%;
    min-width: 300px;
}

.cover_text{
    width: 40%;
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.cover_text_header{
    text-align: left;
}

.cover_text_info{
    text-align: left;
}

.app_link{
    padding-top: 10px;
}



