.bck_img{
    position: fixed;
    width: 1920px;
    top: 0px;
    opacity: 0.4;
    z-index: -10;
}

section{
    display: flex;
    margin: 30px auto;
    padding: 1%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    /* text-align: center; */
}

section p, h2{
    padding: 0px 20px;
}