#page{
    background: none;
    /* background: linear-gradient(170deg, rgb(228, 228, 228) 0%, rgb(255, 255, 255) 100%); */
}

.bck_img{
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -10;
    opacity: 0.4;
    filter: blur(4px);
    align-self: center;
    opacity: 0.2;
    /* min-height: 100vh; */
    top: -10%;
    box-shadow: 10px 10px 200px rgba(0, 0, 0, 0.5);
}

section{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 30px auto;
    padding: 1%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    width: 90%;
}

section p, h2{
    padding: 0px 20px;
    /* width: 600;
    min-width: 300px; */
    
}