html{
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, verdana, sans-serif;
}

button{
    font-family: Helvetica, Arial, verdana, sans-serif;
    border-style: none;
    cursor: pointer;
    /* border-radius: 5px; */
}

button:focus{
    outline: none;
}

#page{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background: rgb(255,136,12);
    background: linear-gradient(220deg, rgb(247, 165, 78) 0%, rgba(255,216,140,1) 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 60px;
    font-weight: bold;
    color: white;
    cursor: default;
    transition: 0.5s;
}

header h1:hover{
    font-size: 62px;
    transition: 0.1s ease;
}



#sub_pages{
    min-height: 50vh;
    width: 100%;
    padding: 20px 1%;
    background-color: rgb(255, 255, 255);
}

#nav_btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav_btn{
    height: 70px;
    width: 160px;
    margin: 10px 10px;
    border-radius: 0px;
    background: rgb(221, 221, 221);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}

.current{
    background: rgb(255,136,12);
    background: linear-gradient(200deg, rgba(247, 151, 49, 0.9) 0%, rgba(255, 217, 140, 1) 90%);
}

#sub_page{
    padding: 50px 0;
}

footer{
    width: 100%;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 40px 10px 10px 10px;
}

footer p{
    color: white;
    font-size: 16px;
}